# Class Assignment (Python & SQL)

For this assignment, we will use the data from the R package, nycflights13, which contains airline on-time data for all flights departing New York City (NYC) in 2013. It also includes useful metadata on airlines, airports, weather, and planes. You may refer to this [nycflights13 package link](https://cran.r-project.org/web/packages/nycflights13/nycflights13.pdf) for more details about the data columns.

## Import Libraries

In [1]:
import os
import sqlite3
import pandas as pd

In [2]:
os.chdir(r'C:\Users\ASUS UX534F\Desktop\SIM\y2\ST2195\assignment_2')
os.getcwd()

'C:\\Users\\ASUS UX534F\\Desktop\\SIM\\y2\\ST2195\\assignment_2'

## Connect to Database

In [4]:
!pip install nycflights13 

from nycflights13 import flights
from nycflights13 import airports
from nycflights13 import airlines
from nycflights13 import planes
from nycflights13 import weather

try:
    os.remove('nycflights13.db')
except OSError:
    pass

conn = sqlite3.connect('nycflights13.db')
c = conn.cursor()

flights.to_sql('flights', con = conn, index = False)
airlines.to_sql('airlines', con = conn, index = False)
planes.to_sql('planes', con = conn, index = False)
airports.to_sql('airports', con = conn, index = False)
weather.to_sql('weather', con = conn, index = False)

conn.close()

Requirement already satisfied: nycflights13 in c:\users\asus ux534f\anaconda3\lib\site-packages (0.0.3)
Requirement already satisfied: pandas>=0.24.0 in c:\users\asus ux534f\anaconda3\lib\site-packages (from nycflights13) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\asus ux534f\anaconda3\lib\site-packages (from pandas>=0.24.0->nycflights13) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus ux534f\anaconda3\lib\site-packages (from pandas>=0.24.0->nycflights13) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\asus ux534f\anaconda3\lib\site-packages (from pandas>=0.24.0->nycflights13) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\asus ux534f\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->nycflights13) (1.16.0)

In [5]:
conn = sqlite3.connect('nycflights13.db')
c = conn.cursor()

## Query 1  (6 marks)

In [6]:
# Task - Execute an SQL statement to show the tables available in the nycflights13 database

# -- insert your code below this line --
c.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()

[('flights',), ('airlines',), ('planes',), ('airports',), ('weather',)]

## Query 2  (8 marks)

In [7]:
# Task - How many carriers, origins, and destinations are represented in the flights table?
# Note: This is not a total count of all flights. 

# -- insert your code below this line --

carriers = c.execute("SELECT COUNT(DISTINCT carrier) FROM flights;").fetchall()
print(carriers)

origins = c.execute("SELECT COUNT(DISTINCT origin) FROM flights;").fetchall()
print(origins)

destinations = c.execute("SELECT COUNT(DISTINCT dest) FROM flights;").fetchall()
print(destinations)

[(16,)]
[(3,)]
[(105,)]

## Query 3  (10 marks)

In [8]:
# Task - What were the most popular flight destinations from NYC in 2013 (top 5)? 
# Include the destination code and its corresponding airport name, along with the number of flights

# -- insert your code below this line --

c.execute('''SELECT dest, COUNT(*) AS flight_count, name 
                FROM flights
                JOIN airports ON flights.dest = airports.faa
                WHERE year = 2013
                GROUP BY dest
                ORDER BY flight_count DESC
                LIMIT 5;''').fetchall()

[('ORD', 17283, 'Chicago Ohare Intl'),
 ('ATL', 17215, 'Hartsfield Jackson Atlanta Intl'),
 ('LAX', 16174, 'Los Angeles Intl'),
 ('BOS', 15508, 'General Edward Lawrence Logan Intl'),
 ('MCO', 14082, 'Orlando Intl')]

## Query 4  (11 marks)

In [9]:
# Task - Which months had the highest range in temperatures? 
# Show the top 3 months and their corresponding temperature range in descending order

# -- insert your code below this line --

c.execute('''SELECT month, (MAX(temp) - MIN(temp)) AS temp_range
                FROM weather
                GROUP BY month
                ORDER BY temp_range DESC
                LIMIT 3;''').fetchall()

[(5, 79.92), (10, 55.980000000000004), (12, 53.63999999999999)]

In [10]:
# IMPORTANT - Close database connection
# -- run this code --

conn.close()